
export(calculate_m_eff)
export(create_projection)
export(expit)
export(glm_nab)
export(glm_sab)
export(glm_standard)
export(glm_studt)
export(logit)
export(solve_for_hiershrink_scale)
export(tryCatch.W.E)
import(Rcpp)
import(methods)
import(rstan)
importFrom(rstan,sampling)
useDynLib(adaptBayes, .registration = TRUE)
